.input_search {
    margin: 0 auto;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.8rem;
    border: 0;
    border-bottom: 1px solid #dddddd;
    width: 30rem;
    height: 3rem;
    display: block;
    transition: border 0.3s;
    padding: 2rem;
  }
  
  .input_search:focus {
    outline: none;
    border-bottom: 1px solid var(--blue-color);
  }